In [1]:
import json

In [19]:
import pandas as pd

In [36]:
files = [
    'DO23OPEN_00001.json',
    'DO23OPEN_00002.json',
    'DO23OPEN_00003.json',
    'DO23OPEN_00004.json',
    'DO23OPEN_00005.json',
    'DO23OPEN_00006.json',
    'DO23OPEN_00007.json',
    'DO23OPEN_00008.json',
]

In [37]:
df = [pd.DataFrame(json.loads(open(file).read())) for file in files]

https://opendatasus.saude.gov.br/pt_BR/dataset/sim

In [39]:
df = pd.concat(df)

In [51]:
deletar = """
 14  SERIESCFAL  404622 non-null   object
 20  IDADEMAE    29183 non-null    object
 21  ESCMAE      28950 non-null    object
 22  ESCMAE2010  28820 non-null    object
 23  SERIESCMAE  12375 non-null    object
 24  OCUPMAE     25908 non-null    object
 25  QTDFILVIVO  29164 non-null    object
 26  QTDFILMORT  28333 non-null    object
 27  GRAVIDEZ    29909 non-null    object
 28  SEMAGESTAC  28698 non-null    object
 29  GESTACAO    28698 non-null    object
 30  PARTO       29785 non-null    object
 31  OBITOPARTO  29545 non-null    object
 32  PESO        28705 non-null    object
 33  TPMORTEOCO  87151 non-null    object
 34  OBITOGRAV   87679 non-null    object
 35  OBITOPUERP  87662 non-null    object
 37  EXAME       4106 non-null     object
 38  CIRURGIA    3949 non-null     object
 46  CB_PRE      0 non-null        object
 47  COMUNSVOIM  257792 non-null   object
 49  CIRCOBITO   153897 non-null   object
 50  ACIDTRAB    51838 non-null    object
 51  FONTE       126366 non-null   object
 53  DTINVESTIG  242831 non-null   object
 60  FONTEINV    245325 non-null   object
 65  CAUSAMAT    25 non-null       object
 66  ESCMAEAGR1  28820 non-null    object
 71  NUDIASOBCO  60100 non-null    object
 72  DTCADINV    60520 non-null    object
 73  TPOBITOCOR  60520 non-null    object
 74  DTCONINV    60032 non-null    object
 75  FONTES      29861 non-null    object
 76  TPRESGINFO  2629 non-null     object
 77  TPNIVELINV  60588 non-null    object
 78  DTCADINF    29861 non-null    object
 79  MORTEPARTO  29861 non-null    object
 80  DTCONCASO   27375 non-null    object
 81  ALTCAUSA    28851 non-null    object
 39  CAUSAMAT    25 non-null       object
 40  ESCMAEAGR1  28820 non-null    object
 45  NUDIASOBCO  60100 non-null    object
 46  DTCADINV    60520 non-null    object
 47  TPOBITOCOR  60520 non-null    object
 48  DTCONINV    60032 non-null    object
 49  FONTES      29861 non-null    object
 50  TPRESGINFO  2629 non-null     object
 51  TPNIVELINV  60588 non-null    object
 52  DTCADINF    29861 non-null    object
 53  MORTEPARTO  29861 non-null    object
 54  DTCONCASO   27375 non-null    object
 55  ALTCAUSA    28851 non-null    object
 57  TPPOS       947635 non-null   object
 58  TP_ALTERA   5161 non-null     object
 59  CB_ALT      4741 non-null     object
"""
deletar = {li.strip().split()[1].strip() for li in deletar.split('\n') if li.strip() != ''}

In [60]:
for col in deletar:
    # print(col)
    try:
        df.drop(col, inplace=True, axis=1)
    except KeyError:
        pass

In [74]:
deletar2 = [
    'NUMEROLOTE',
    'ORIGEM',
    'contador',
    'TIPOBITO',
    'NATURAL',
    'CODMUNNATU',
    'IDADE',
    'CODESTAB',
    'DTATESTADO',
    'DTCADASTRO',
    'ATESTANTE',
    'STCODIFICA',
    'CODIFICADO',
    'VERSAOSIST',
    'VERSAOSCB',
    'DTRECEBIM',
    'DTRECORIGA',
    'OPOR_DO',
    'ESCFALAGR1',
    'STDOEPIDEM',
    'STDONOVA',
    'DIFDATA',
]

In [75]:
for col in deletar2:
    # print(col)
    try:
        df.drop(col, inplace=True, axis=1)
    except KeyError:
        pass

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1465610 entries, 0 to 65609
Data columns (total 22 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   DTOBITO     1465610 non-null  object
 1   HORAOBITO   1416392 non-null  object
 2   DTNASC      1462816 non-null  object
 3   SEXO        1465610 non-null  object
 4   RACACOR     1442526 non-null  object
 5   ESTCIV      1399251 non-null  object
 6   ESC         1375905 non-null  object
 7   ESC2010     1367238 non-null  object
 8   OCUP        1263542 non-null  object
 9   CODMUNRES   1465610 non-null  object
 10  LOCOCOR     1465610 non-null  object
 11  CODMUNOCOR  1465610 non-null  object
 12  ASSISTMED   1020765 non-null  object
 13  NECROPSIA   1047269 non-null  object
 14  LINHAA      1421060 non-null  object
 15  LINHAB      1118038 non-null  object
 16  LINHAC      688554 non-null   object
 17  LINHAD      291456 non-null   object
 18  LINHAII     630076 non-null   object
 19  CAUSABAS    1465610 non-null  object
 20  ATESTADO    1465610 non-null  object
 21  CAUSABAS_O  1464573 non-null  object
dtypes: object(22)
memory usage: 289.4+ MB

In [78]:
codigos = [
    f'X{i}' for i in range(85, 100)
] + [
    f'Y0{i}' for i in range(0, 10)
]
codigos = set(codigos)
codigos

{'X85',
 'X86',
 'X87',
 'X88',
 'X89',
 'X90',
 'X91',
 'X92',
 'X93',
 'X94',
 'X95',
 'X96',
 'X97',
 'X98',
 'X99',
 'Y00',
 'Y01',
 'Y02',
 'Y03',
 'Y04',
 'Y05',
 'Y06',
 'Y07',
 'Y08',
 'Y09'}

In [ ]:
# incluir coluna para estado
# incluir coluna para cidade
# transformar datas para formato iso

In [90]:
cols_cid = [
    'LINHAA',
    'LINHAB',
    'LINHAC',
    'LINHAD',
    'LINHAII',
    'CAUSABAS',
    'ATESTADO',
    'CAUSABAS_O',
]
tem = lambda colunas: any(((col is not None) and (cod in col)) for col in colunas for cod in codigos)
df2 = df[df[cols_cid].apply(tem, axis=1)]

In [94]:
df2.SEXO.value_counts()

SEXO
1    40045
2     3945
0       97
Name: count, dtype: int64